{% extends "base-with-navbar&footer.html" %}

{% block mainbody %}
<div class="main-div">
    <div class="row" id="main-div-row">
        <div class="col-12 col-md-10 offset-md-1">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    {% for blog in blogs %}
                    <div class="post-card" onclick="javascript:window.location.href='/blog/{{ blog.id }}.html'">
                        <div class="d-flex flex-row preview">
                            <div class="d-none d-md-block">
                                <img src="{{ blog.coverimg }}"/>
                            </div>
                            <div class="preview-text-md d-none d-md-block">
                                <div class="preview-title"> {{ blog.title }}</div>
                                <div class="preview-content text-muted">{{ blog.preview }}</div>
                            </div>
                            <div class="preview-text d-md-none">
                                <div class="preview-title"> {{ blog.title }}</div>
                                <div class="preview-content text-muted">{{ blog.preview }}</div>
                            </div>
                        </div>
                        <div class="dividing-line"></div>
                        <div class="d-flex flex-row justify-content-between align-content-center post-info">
                            <span class="publish-time">
                                <!--Calendar SVG-->
                                <svg class="bi bi-calendar" width="0.8em" height="0.8em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M16 2H4a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2zM3 5.857C3 5.384 3.448 5 4 5h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H4c-.552 0-1-.384-1-.857V5.857z" clip-rule="evenodd"/>
                                    <path fill-rule="evenodd" d="M8.5 9a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
                                </svg>
                                <small>{{ blog.publish_date }}</small>
                            </span>
                            <span class="fulltext-link" onclick="javascript:window.location.href='/blog/{{ blog.id }}'">
                                <small>阅读全文</small>
                                <!--Chevron-right SVG-->
                                <svg class="bi bi-chevron-right" width="0.8em" height="0.8em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/>
                                </svg>
                            </span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
